*{
    padding: 0;
    margin: 0;
    background-color: rgb(40, 40, 40);
    color: rgb(224, 224, 33);
    font-family: monospace;
}
header{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
main{
    display: grid;
    grid-template-columns: 310px 680px 310px;
    
    width: 1300px;
    height: 550px;
    
    margin: auto;
    grid-gap: 10px;
}
#left{
   background-color: rgb(80, 80, 80);
   margin: 5px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#center{
    background-color: rgb(80, 80, 80);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#right{
    
    margin: 5px;
    padding: 10px;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}



/*Seleccion de pokemos */

.poke-choose-section{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: rgb(80, 80, 80);
}

.poke-choose:hover{
    height: 80px;
    background-color: white;
    width: auto;
    border: 0px;  
}
.poke-choose{
    height: 80px;
    background-color: rgb(186, 186, 186);
    width: auto;
    border: 0px;  
}


/* Parte Central */

#center{
    padding: 10px;
    display: grid;
}
img{
    width: 650px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#poke-combat-text{
    background-color: rgb(183, 222, 222);
    height: 150px;
    border: 2px white solid;
    border-radius: 5px;
}
#poke-combat-start{
    height: 50px;
    background-color: skyblue;
    width: 200px;
    margin: auto;
    margin-top: 10px;  
    font-size: 20px;
}